<% include ../partials/header %>
<header>
	<h2>Ntalk - Dados de contato</h2>
</header>

<section>
	<form action="/contato/<%- contato._id %>" method="post">
		
		<input type="hidden" name="_method" value="delete">
		<p><label for="">Nome</label><%- contato.nome %></p>
		<p><label for="">E-mail</label><%- contato.email %></p>
		<p>
			<button type="submit">Excluir</button>
			<a href="/contato/<%- id%>/editar">Editar</a>
		</p>
	</form>
</section>
<% include ../partials/exit %>
<% include ../partials/footer %>